.button {
    -fx-background-color: #333333;
    -fx-border-color: #DDDDDD;
    -fx-text-fill: #DDDDDD;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.label {
    -fx-text-fill: #DDDDDD;
    -fx-background-color: #222222;
}

.borderpane {
    -fx-background-color: #222222;
}
.gridpane {
    -fx-background-color: #222222;
    -fx-text-fill: #DDDDDD;
}

.table-view {
    -fx-background-color: #222222;
    -fx-border-color: #DDDDDD;
    -fx-text-fill: #222222;
}

.columns {
    -fx-background-color: #222222;
    -fx-selection-bar: #222222;
    -fx-text-fill: #DDDDDD;
    -fx-table-cell-border-color:#DDDDDD;
}